// Package view 是 {{.Name}} 资源的页面组件。
// TODO(resgen): 参考 internal/example/resources/item/view/view.templ 补全；
// 修改后需运行 templ generate 生成 *_templ.go。
package view

templ Page() {
	<div>{{.Name}} 页面（TODO）</div>
}
